@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Final Project</title>
    </head>

    <body>
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>
        
        <div class="title">Welcome to Cuyahoga Community College Student Services Online</div>

        <div class="bod">Cuyahoga Community College recognizes students' rights to access to personal and academic records in accordance with the Family Educational rights and Privacy Act of 1974 (FERPA) as amendedby Public Law 93-568.</div>

        <div>Username</div>
            <input type="text" value="" />

        <div>Password</div>
            <input type="text" value="" />

        <button type="button">Log In</button>

        <hr/>

        <div>Username</div>
          <input type="text" value="" />

        <div>Password</div>
         <input type="text" value="" />

        <div>Email Address</div>
          <input type="text" value="" />

        <div>Repeat Email Address</div>
            <input type="text" value="" />

        <button type="button">Create Account</button>

            
        

    </body>

</html>