body
{
	font-family: "Montserrat", sans-serif;
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(160,216,239,0.52) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(160,216,239,0.52))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(160,216,239,0.52) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(160,216,239,0.52) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(160,216,239,0.52) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(160,216,239,0.52) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#85a0d8ef',GradientType=1 ); /* IE6-9 */
}

h1, h2, h4
{
	margin: 0;
}

h2, h4
{
	font-family: "Cambria";
	display: inline-block;
}

h4
{
	font-style: italic;
}

#clickhere
{
    color: white;
}

li
{
	font-style: italic;
	list-style-type: square;
	width: 200px;
}

.list-item-highlight
{	
	font-weidght: bold;
	color: red;
}



.analog
{
	border: 2px solid red;
	background-image: url('analog.jpg');
	background-size:611px; 404px;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	width: 611px;
	height: 404px;
}

.analog-border
{
	border: 2px solid white;
	background-image: url('analog.jpg');
	background-size:611px; 404px;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	width: 611px;
	height: 404px;
}


.standard-paragraph
{
	width: 980px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.jakprints-caption
{
	margin-left: 20px;
	height: 175px;
}

.caption
{
	width: 280px;
	display: inline-block;
	vertical-align: middle;
}

.fantom-logo
{
	display: inline-block;
	vertical-align: middle;
	background-image: url('fantom.png');
	background-size: 650px 200px;
	background-repeat: no-repeat;
	width: 650px;
	height: 200px;
	margin-left: 50px;
}


