.button
{
	width : 60px;
	height : 60px;
	padding : 20px;
	margin : 20px;
	font-size : 14px;
	font-family : "Tahoma, Geneva, sans-serif";
	text-align : center;
	border : 4px dashed red;
	display : inline-block;
}
